/********** nav start **********/
#nav{
	position: fixed;
	/*top: 0;*/
	top: -70px;
	left: 0;
	right: 0;
	background: #213140;
	z-index: 80;
}
#nav ul{
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	opacity: 1;
	line-height: 1.6;
	text-align: center;
	overflow: hidden;
}
#nav ul li{
	display: inline-block;
	vertical-align: top;
	padding: 0 15px;
}
#nav li a{
	position: relative;
	display: block;
	height: 70px;
	line-height: 70px;
	color: #fff;
}
#nav .current a{
	color: #7DB7EA;
}

#nav .current a:before {
	bottom: 10px;
}
#nav a:before {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -10px;
	width: 10px;
	height: 10px;
	margin: 0 0 0 -5px;
	background: #7DB7EA;
	border-radius: 50%;
}
/********** nav end **********/
/********** intro start **********/
#intro{
	position: relative;
	overflow: hidden;
	padding: 50px 0;
	text-align: center;
	color: #fff;
	background: url(../images/slide.jpg) no-repeat;
	background-size: cover;
}
#intro .intro-slideshow{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
}

#intro .intro-slideshow:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #519fe3;
	z-index: 5;
	opacity: 0.8;
}

#intro .intro-inner{
	z-index: 10;
	position: relative;
}
#intro .container{
	padding-top: 100px;
	padding-bottom: 100px;
}
#intro h1{
	font: 96px/1 Comfortaa, cursive;
	letter-spacing: 5px;
	margin-bottom: 10px;
}
#intro h3{
	margin-bottom: 25px;
}
#intro .social-nav{
	margin-bottom: 30px;
	font-size: 19px;
	line-height: 45px;
}
#intro .social-nav li{
	margin: 0 3px;
	display: inline-block;
}
#intro .social-nav li a{
	position: relative;
	width: 45px;
	height: 45px;
	color: #fff;
}
#intro .button a{
	margin: 0 3px;
	background: none;
	border: 2px solid #fff;
	display: inline-block;
	padding: 15px 25px;
	border-radius: 30px;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font: 87.5%/1 Noto Sans, sans-serif;
	color: #fff;
}
#intro .button a:hover{
	background: #fff;
	border-color: transparent;
	color: #7DB7EA;
	transition: 0.3s;
}
#intro .social-nav a{
	position: relative;
	display: block;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	text-decoration: none;
	transition: 0.3s;
}
#intro .social-nav a:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: 0.3s;
}
#intro .social{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
#intro .social-nav a:hover{
	color: #7DB7EA;
}
#intro .social-nav a:hover:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}
/********** intro end **********/
/********** about start **********/
#about{
	padding-top: 100px;
	padding-bottom: 100px;
	color: #fff;
	background: #7DB7EA;;
}
#about .about-box{
	display: table;
}
#about .about-box .col{
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 0 5%;
}
#about .about-box .col:first-child{
	padding: 0;
}
#about .about-box .photo{
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	width: 250px;
	height: 250px;
	background: #213140;
	border: 8px solid #213140;
	border-radius: 50%;
	box-sizing: border-box;
}
#about .photo img{
	width: 100%;
	height: auto;
}
#about .about-box h3{
	margin: 0 0 30px;
}
#about .about-box p{
	font-style: italic;
	margin-bottom: 15px;
}
/********** about end **********/
/********** resume start **********/
#resume .scroll{
	overflow: hidden;
	height: 380px;
}
#resume .box{
	position: relative;
	overflow: hidden;
	height: 100%;
	max-width: 100%;
	/*outline: 0;*/
	/*direction: ltr;*/
}
#resume .content{
	position: relative;
	top: 0;
	left: 0;
	margin-right: 30px;
	overflow: hidden;
}
#resume .scrollbar{
	opacity: .75;
}
#resume .skills .skill{
	position: relative;
	margin: 0 0 10px;
}
#resume .skill .progress{
	position: relative;
	padding: 15px 25px;
	background: #7DB7EA;
	border-radius: 30px;
	box-sizing: border-box;
	font-weight: bold;
	font-size: 0.9em;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;
	transition: 0.3s;
	width: 80%;
}
#resume .tools{
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#resume .tools li{
	display: inline-block;
	margin: 0 6px 10px 0;
	padding: 15px 25px;
	border: 2px solid currentColor;
	border-radius: 30px;
	font-weight: bold;
}
/********** resume end **********/
/********** services start **********/
#services .accordion{
	margin-bottom: 10px;
}
#services .accordion .accordion-header{
	position: relative;
	padding: 15px 25px 15px 40px;
	background: #7DB7EA;
	border-radius: 30px;
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.3s;
	color: #fff;
}
#services .accordion .accordion-header:hover{
	background: #213140;
}
#services .accordion .accordion-header:before {
    content: '';
    position: absolute;
    left: 18px;
    top: 50%;
    width: 10px;
    height: 10px;
    margin: -5px 0 0;
    background: currentColor;
    border-radius: 50%;
    transition: 0.3s;
}
#services .accordion .accordion-inner{
	position: relative;
	padding: 10px 20px;
	display: none;
}
#services .accordion-inner p{
	font-size: 14px;
	line-height: 1.4;
	opacity: .7;
}
/********** services end **********/
/********** portfolio start **********/
#portfolio .filter{
	margin: 0;
	padding: 0 0 40px;
	list-style: none;
	font-weight: bold;
	font-size: 0.9em;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	opacity: 1;
}
#portfolio .filter li{
	position: relative;
	display: inline-block;
	margin: 0 3px 10px;
	padding: 15px 25px;
	border: 2px solid currentColor;
	border-radius: 30px;
	box-sizing: border-box;
	cursor: pointer;
	transition: 0.3s;
}
#portfolio .filter li.active{
	background: #7DB7EA;
	border-color: transparent;
	color: #fff;
}
.filter .active:after {
    border-top-width: 10px;
    opacity: 1;
}
.filter li:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0 0 0 -10px;
    border-top: 0 solid #7DB7EA;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transition: 0.3s;
}
#portfolio .filter li:hover{
	color: #7DB7EA;
	border-color: #7DB7EA;
	transition: .3s;
}
#portfolio .shuffle{
	position: relative;
	overflow: hidden;
	height: 620px;
	transition: height 250ms ease-out;
	margin: 0 20px;
	padding: 0;
	list-style: none;
	line-height: 1;
	opacity: 1;
}
#portfolio .shuffle li{
	float: left;
	overflow: hidden;
	border-radius: 50%;
	margin: 10px;
}
#contacts{
	height: 500px;
	background: #ccc;
}
/********** portfolio end **********/
/********** testimonials start **********/

/********** testimonials end **********/
/********** contacts start **********/

/********** contacts end **********/
/********** footer start **********/
#footer{
	background: #213140;
	color: #fff;
}
#footer .container{
	padding-top: 100px;
	padding-bottom: 100px;
}
#footer .input-box{
	margin-bottom: 20px;
}
#footer .input-box p{
	display: block;
	margin: 0 0 10px;
	font-size: 0.9em;
	font-weight: bold;
	letter-spacing: 1px;
}
#footer .input-box .input-inner{
	position: relative;
}
#footer .input-inner input{
	color: inherit;
	font: inherit;
	margin: 0;
	line-height: normal;
}
#footer .input-inner input[type="text"]{
	position: relative;
	width: 100%;
	margin: 0;
	padding: 12px 15px;
	background: transparent;
	border: 2px solid currentColor;
	box-sizing: border-box;
	border-radius: 25px;
	color: currentColor;
	transition: 0.3s;
	outline: none;
}
#footer .input-box input[type="submit"]{
    cursor: pointer;
    background: none;
    border: 2px solid #fff;
    position: relative;
    overflow: visible;
    display: inline-block;
    vertical-align: middle;
    padding: 15px 25px;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 0.9em;
    line-height: 1;
    text-transform: uppercase;
    transition: 0.3s;
    text-decoration: none;
    white-space: nowrap;
    letter-spacing: 2px;
}
#footer .input-box input[type="submit"]:hover{
	color: #7DB7EA;
	border-color: #7DB7EA;
	transition: .3s;
}
/********** footer end **********/








































